{% extends 'base_index.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/crumbs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/page-left-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-container-solution.css' %}">

{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script src="{% static 'js/3.0_function/jquery.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="crumbs">
        <div class="container">
            <p class="title">解决方案</p>
            <div class="childs">
                <a href="{% url 'app:index' %}">首页</a>&nbsp;&gt;&nbsp;<a href="{% url 'app:solution' %}">解决方案</a>&nbsp;&gt;&nbsp;农业
            </div>
        </div>
    </div>

    <div class="main">
        <div class="page-left-menu" style="margin-top: 0px;">
            <div class="page-left-title">
                <h1>
                    <span class="zh">解决方案</span>
                    <small class="en"> / SOLUTION</small>
                </h1>
            </div>
            <div class="page-left-menu-box">
                <div class="menu1">
                    <div class="menu-item1" data-type="181">
                        <a href="{% url 'app:trade' %}">
                            贸易 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="188">
                        <a href="{% url 'app:env' %}">
                            环境能源 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="187">
                        <a href="{% url 'app:source' %}">
                            资源 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 active" data-type="186">
                        <a href="{% url 'app:agri' %}">
                            农业 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="11">
                        <a href="{% url 'app:finance' %}">
                            财政金融 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="11">
                        <a href="{% url 'app:poverty' %}">
                            贫困 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1" data-type="11">
                        <a href="{% url 'app:labor' %}">
                            劳动力 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="11">
                        <a href="{% url 'app:disaster' %}">
                            灾害评估 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                </div>
            </div>
            
        <div class="container" style="overflow: hidden;padding-top: 0">
            <div class="mainHead">
                <p class="title">农业</p>
            </div>
            <div style="margin-top:30px;"></div>
            <!-- mainContent -->
            <div class="mainContent">

                <p class="MsoNormal">
                    <span style="font-size:16px;color:#666666;line-height:2;"></span>
                </p>
                <p class="MsoNormal">
                    <span style="color:#666666;font-size:16px;">CGE模型在农业领域中的应用，最主要的是将农业部门的生产活动细化，再对细分后的产业部门的活动进行刻画并得出相应方程，最后对方程组进行求解。PEM模型在农业领域的运用也非常的广泛，是因为局部均衡模型能够更好地细分并刻画农业部门的生产活动。CGE/PGE模型主要用于研究粮食价格、粮食安全、农村劳动力转移以及农业贸易等问题。</span>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <br>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <br>
                </p>
                <p>
                    <span style="font-size:16px;color:#666666;"></span>
                </p>
                <p class="MsoListParagraph" style="margin-left:18.0pt;text-indent:-18.0pt;">
                    <span style="font-size:16px;color:#666666;">1.&nbsp;&nbsp;&nbsp; 研究对象所属部门活动描述是否正确</span>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <span style="font-size:16px;color:#666666;">CGE模型数据库在构建过程中，为了保证整体数据库的平衡，可能会牺牲部分地区或者少数部门的真实性。需要查找现有资料并与相关的农业专家一起判断目前所属部门的经济活动是否属实，与其他部门的投入产出关系是否基本一致。如果不一致，则需要进一步讨论是否需要对原始数据库进行调整。</span>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <br>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <span style="font-size:16px;color:#666666;">&nbsp;</span><img alt="" src="{{ argi_img1.img }}">
                </p>
                <p class="MsoNormal" style="text-align:center;margin-left:0cm;">
                    <span style="font-size:16px;color:#666666;">图一：全球数据库中谷物部门数据检查</span>
                </p>
                <p class="MsoNormal" style="text-align:center;margin-left:0cm;">
	<span style="font-size:16px;color:#666666;"><br>
   </span>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <br>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <br>
                </p>
                <p class="MsoListParagraph" style="margin-left:18.0pt;text-indent:-18.0pt;">
                    <span style="font-size:16px;color:#666666;">2.&nbsp;&nbsp;&nbsp; 农业部门生产活动细化</span>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <span style="font-size:16px;color:#666666;">在全球模型数据库中，农业部门有14类，合并程度较高；而在中国CGE模型中，农业部门只有5类，部门活动非常概况。针对不同的研究区域，其主要农业研究对象，在数据库中并非以单独部门呈现，因此需要将生产活动进行细化。在全球数据库细化中，可以借鉴Mark Horridge教授编写的SplitCOM程序，将部门的生产活动进行拆分。比如将玉米从谷物（GRO）拆分出来，将大豆从油料作物（OIL）中拆分出来。然而，在构建国家CGE模型时，则需要对投入产出表进行预处理，或者熟悉相应的数据处理软件，如GEMPACK的TABLO语言、R、Python等对已经构建的数据库进行拆分。</span>
                </p>
                <p class="MsoNormal" style="text-align:center;margin-left:0cm;">
                    <span style="font-size:16px;color:#666666;">&nbsp;</span><img alt="" src="{{ argi_img2.img }}">
                </p>
                <p class="MsoNormal" style="text-align:center;margin-left:0cm;">
                    <span style="font-size:16px;color:#666666;">图二：玉米贸易矩阵的细化</span>
                </p>
                <p class="MsoNormal" style="text-align:center;margin-left:0cm;">
	<span style="font-size:16px;color:#666666;"><br>
   </span>
                </p>
                <p class="MsoNormal" style="text-align:center;margin-left:0cm;">
	<span style="font-size:16px;color:#666666;"><br>
   </span>
                </p>
                <p class="MsoListParagraph" style="margin-left:18.0pt;text-indent:-18.0pt;">
                    <span style="font-size:16px;color:#666666;">3.&nbsp;&nbsp;&nbsp; 模型是否需要修改以贴近真实的农业活动</span>
                </p>
                <p class="MsoNormal" style="margin-left:0cm;">
                    <span style="font-size:16px;color:#666666;">全球模型提供了一个标准的CGE模型范式，但是针对于特殊的研究问题，需要在此基础是进行模块的添加或调整，以适用于研究对象的经济活动模型。在农业领域，经常会涉及到种植结构、农业补贴政策、农产品贸易以及库存等相关问题。因此全球模型或者国家模型在实际运用过程当中，还需要添加或修改各个模块，来模型相应的农业经济活动。</span>
                </p>
                <p align="center" class="MsoNormal" style="margin-left:0cm;text-align:center;">
                    <img alt="" src="{{argi_img3.img}}">
                </p>
                <p align="center" class="MsoNormal" style="margin-left:0cm;text-align:center;">
                    <span style="font-size:16px;color:#666666;">图三：库存机制的构建</span>
                </p>
                <p>
                    <br>
                </p>
                <p class="MsoNormal">
                <span style="color:#666666;font-size:16px;"><span
                        style='transition-property: all; margin: 0px; padding: 1px 0px; color: rgb(102, 102, 102); font-size: 16px; line-height: 24px; font-family: "Microsoft YaHei", "Helvetica Neue", Tahoma, Arial, 微软雅黑, 宋体, 黑体; white-space: normal; background-color: rgb(255, 255, 255);'
                        宋体,="" 微软雅黑,="" arial,="" tahoma,="" neue",="" "helvetica="" yahei",="" microsoft="" 255);"="" 255,="" rgb(255,="" normal;="" 黑体;="" background-color:#ffffff;"=""><strong>更多应用案例，请参考公司</strong></span><span
                        style='transition-property: all; margin: 0px; padding: 1px 0px; color: rgb(102, 102, 102); font-size: 16px; line-height: 24px; font-family: "Microsoft YaHei", "Helvetica Neue", Tahoma, Arial, 微软雅黑, 宋体, 黑体; white-space: normal; background-color: rgb(255, 255, 255);'
                        宋体,="" 微软雅黑,="" arial,="" tahoma,="" neue",="" "helvetica="" yahei",="" microsoft="" 255);"=""
                    255,="" rgb(255,="" normal;="" 黑体;="" background-color:#ffffff;"=""><a
                        href="{% url 'app:research_report' %}"
                        target="_blank"><strong><span
                        style="color:#337FE5;line-height:24px;font-size:16px;">研究报告</span></strong></a><strong><span
                        style="line-height:24px;font-size:16px;">。</span></strong></span><span
                        style="font-size:16px;"></span><br>
                    </span>
                </p></div>
            <!-- mainContent over -->
            <!-- mainFoot -->
            <div class="mainFoot">
                <a href="http://v.t.sina.com.cn/share/share.php?title=农业 /solutionshow.php">
                    <div class="child">
                        <div class="childIcon">
                            <img src="{% static 'images/weibo.png' %}">
                        </div>
                        <div class="childInfo">
                            <p>分享到</p>
                            <p>新浪微博</p>
                        </div>
                    </div>
                </a>
                <div class="child">
                    <div class="bdsharebuttonbox bdshare-button-style0-32" data-bd-bind="1576409425000">
                        <a class="bds_more" href="#" data-cmd="more"></a>
                        <a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
                    </div>
                    <script>
                        window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {},
                                "bdText": "",
                                "bdMini": "2",
                                "bdMiniList": false,
                                "bdPic": "",
                                "bdStyle": "0",
                                "bdSize": "32"
                            },
                            "share": {}
                        };
                        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                    <div class="childIcon">
                        <img src="{% static 'images/wechat.png' %}">
                    </div>
                    <div class="childInfo">
                        <p>分享到</p>
                        <p>朋友圈</p>
                    </div>
                </div>
                <a onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href));return false;">
                    <div class="child">
                        <div class="childIcon">
                            <img src="{% static 'images/qqzone.png' %}">
                        </div>
                        <div class="childInfo">
                            <p>分享到</p>
                            <p>QQ空间</p>
                        </div>
                    </div>
                </a>
                <a href="mailto:?subject=农业&amp;body=/solutionshow.php">
                    <div class="child">
                        <div class="childIcon">
                            <img src="{% static 'images/email.png' %}">
                        </div>
                        <div class="childInfo">
                            <p>通过邮件</p>
                            <p>分享给朋友</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- mainFoot over -->
            <!-- about -->
            <div class="about">
                <div class="aboutTitle">
                    <span class="title">相关文章</span>
                    <div class="sub"></div>
                </div>
                <div class="container">
                    <div class="child">
                        <div class="childImg">
                            <img src="{% static 'images/img-1.png' %}">
                        </div>
                        <div class="childTitle">
                            <p>农业</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- about over -->
        </div>
    </div>
{% endblock %}

