{% extends 'base_index.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/crumbs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/page-left-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-container-solution.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script src="{% static 'js/3.0_function/jquery.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="crumbs">
        <div class="container">
            <p class="title">解决方案</p>
            <div class="childs">
                <a href="{% url 'app:index' %}">首页</a>&nbsp;&gt;&nbsp;<a href="{% url 'app:solution' %}">解决方案</a>&nbsp;&gt;&nbsp;资源
            </div>
        </div>
    </div>

    <div class="main">
        <div class="page-left-menu" style="margin-top: 0px;">
            <div class="page-left-title">
                <h1>
                    <span class="zh">解决方案</span>
                    <small class="en"> / SOLUTION</small>
                </h1>
            </div>
            <div class="page-left-menu-box">
                <div class="menu1">
                    <div class="menu-item1 " data-type="181">
                        <a href="{% url 'app:trade' %}">
                            贸易 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="188">
                        <a href="{% url 'app:env' %}">
                            环境能源 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 active" data-type="187">
                        <a href="{% url 'app:source' %}">
                            资源 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="186">
                        <a href="{% url 'app:agri' %}">
                            农业 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="11">
                        <a href="{% url 'app:finance' %}">
                            财政金融 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="11">
                        <a href="{% url 'app:poverty' %}">
                            贫困 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1" data-type="11">
                        <a href="{% url 'app:labor' %}">
                            劳动力 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                    <div class="menu-item1 " data-type="11">
                        <a href="{% url 'app:disaster' %}">
                            灾害评估 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt; </a>
                    </div>

                </div>
            </div>
            </div>
        <div class="container" style="overflow: hidden;padding-top: 0">
            <div class="mainHead">
                <p class="title">资源</p>
            </div>
            <div style="margin-top:30px;"></div>
            <!-- mainContent -->
            <div class="mainContent">

                <p>
                    <br>
                </p>
                <p class="MsoNormal">
                    <span style="font-size:16px;line-height:2;color:#666666;">我们主要关注于资源领域中的水、土地两类资源。</span>
                </p>
                <p class="MsoNormal">
                    <br>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-size:16px;color:#337FE5;line-height:2;">水资源</span></b>
                </p>
                <p class="MsoNormal">
                    <span style="font-size:16px;color:#666666;line-height:2;">研究水资源在不同层次及部门中的价值以及不同政策对价值的影响。因此主要研究内容包括水价评估、水资源配置、水资源利用效率、水权交易和水资源政策预测与模拟。</span>
                </p>
                <p class="MsoNormal">
                    <span style="font-size:16px;color:#666666;line-height:2;">将水资源加入CGE模型中的方法可归纳为：生产与消费的约束条件、生产要素、中间投入以及综合性处理。</span>
                </p>
                <p class="MsoNormal">
                    <br>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-size:16px;color:#337FE5;line-height:2;">土地资源</span></b>
                </p>
                <p class="MsoNormal">
                    <span style="font-size:16px;color:#666666;line-height:2;">标准的CGE模型中一般只关注农业用地与矿产用地。</span>
                </p>
                <p class="MsoNormal">
	<span style="font-size:16px;color:#666666;line-height:2;">GTAP-AEZ在标准GTAP框架基础上加入了不同的土地利用/覆盖类型（Agro
Ecological Zones）。</span>
                </p>
                <p class="MsoNormal">
                    <span style="font-size:16px;color:#666666;line-height:2;">此外，CGE中更为具体的土地资源刻画是将土地资源总量按其功能分配于各部门产业中，如耕地主要分配于农业部门，林地则分配于林业部门，等等。</span>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <span style="transition-property: all; margin: 0px; padding: 1px 0px; color: rgb(102, 102, 102); font-size: 16px; line-height: 24px; font-family: "
                          宋体,="" 微软雅黑,="" arial,="" tahoma,="" neue",="" "helvetica="" yahei",="" microsoft="" 255);"=""
                    255,="" rgb(255,="" normal;="" 黑体;=""
                    background-color:#ffffff;"=""><strong>更多应用案例，请参考公司</strong></span><span
                        style="transition-property: all; margin: 0px; padding: 1px 0px; color: rgb(102, 102, 102); font-size: 16px; line-height: 24px; font-family: "
                        宋体,="" 微软雅黑,="" arial,="" tahoma,="" neue",="" "helvetica="" yahei",="" microsoft="" 255);"=""
                    255,="" rgb(255,="" normal;="" 黑体;="" background-color:#ffffff;"=""><a
                        href="{% url 'app:research_report' %}" target="_blank"><strong><span
                        style="color:#337FE5;line-height:24px;font-size:16px;">研究报告</span></strong></a><strong><span
                        style="line-height:24px;font-size:16px;">。</span></strong></span>
                </p>
                <p>
                    <br>
                </p></div>
            <!-- mainContent over -->
            <!-- mainFoot -->
            <div class="mainFoot">
                <a href="http://v.t.sina.com.cn/share/share.php?title=资源 /solutionshow.php">
                    <div class="child">
                        <div class="childIcon">
                            <img src="{% static 'images/weibo.png' %}">
                        </div>
                        <div class="childInfo">
                            <p>分享到</p>
                            <p>新浪微博</p>
                        </div>
                    </div>
                </a>
                <div class="child">
                    <div class="bdsharebuttonbox bdshare-button-style0-32" data-bd-bind="1576412064317">
                        <a class="bds_more" href="#" data-cmd="more"></a>
                        <a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
                    </div>
                    <script>
                        window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {},
                                "bdText": "",
                                "bdMini": "2",
                                "bdMiniList": false,
                                "bdPic": "",
                                "bdStyle": "0",
                                "bdSize": "32"
                            },
                            "share": {}
                        };
                        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                    <div class="childIcon">
                        <img src="{% static 'images/wechat.png' %}">
                    </div>
                    <div class="childInfo">
                        <p>分享到</p>
                        <p>朋友圈</p>
                    </div>
                </div>
                <a onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href));return false;">
                    <div class="child">
                        <div class="childIcon">
                            <img src="{% static 'images/qqzone.png' %}">
                        </div>
                        <div class="childInfo">
                            <p>分享到</p>
                            <p>QQ空间</p>
                        </div>
                    </div>
                </a>
                <a href="mailto:?subject=资源&amp;body=/solutionshow.php">
                    <div class="child">
                        <div class="childIcon">
                            <img src="{% static 'images/email.png' %}">
                        </div>
                        <div class="childInfo">
                            <p>通过邮件</p>
                            <p>分享给朋友</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- mainFoot over -->
            <!-- about -->
            <div class="about">
                <div class="aboutTitle">
                    <span class="title">相关文章</span>
                    <div class="sub"></div>
                </div>
                <div class="container">
                    <div class="child">
                        <div class="childImg">
                            <img src="{% static 'images/img-1.png' %}">
                        </div>
                        <div class="childTitle">
                            <p>资源</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- about over -->
        </div>
    </div>
{% endblock %}

