{% extends 'base_user.html' %}
{% load tz %}
{% load static %}

{% block ext_css %}
{{ block.super }}
    <link href="{% static 'css/head.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/echarts/echarts.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
<link href="{% static 'css/head.css' %}" type="text/css" rel="stylesheet" />

<script src="{% static 'js/echarts/echarts.min.js' %}"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{% static 'css/bootstrap/js/tether.min.js' %}"></script>
<script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
 <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/head.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/echarts/echarts.min.js' %}"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'css/bootstrap/js/tether.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
   <link href="{% static 'css/head.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/echarts/echarts.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block ext_js %}
{{ block.super }}

{% endblock %}

{% block content %}
<style>
    #workplace {
        z-index: 0;
        height: 100%;
        overflow: auto;
        margin-top: 110px;
        margin-left: 10%;
        margin-right: 10%;
        border-style: solid;
        width: 80%;
        border-width: 1px;
        border-color: #F0F0F0;
        position: absolute;
        padding-bottom: 100px;
    }

    #title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        justify-content: space-between;
    }

    .list-group {
        padding-left: 70px;
        padding-right: 70px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .list-group-item {
        margin-bottom: 50px;
        display: inline;
    }

    #pagination {
        margin: 50px auto 0 auto;
        width: 300px
    }
</style>

<body>
    <div class="navigation_bars" style="z-index: 1;">
        <img class="logo0" src="/static/images/logo0.jpg">
        <img class="logo" src="/static/images/logo.jpg">
        <div class="navigation_textbox">
            <!--导航栏-->
            <div class="text_field">
                <a href="{% url 'app:index' %}">首页</a>
            </div>
            {% if is_login %}
            {% if is_personal %}
            <div class="btn_field">
                <span><a href="{% url 'app:personcenter' %}">个人中心</a></span>
            </div>

            <div class="btn_field">
                <span><a href="{% url 'app:logout' %}">退出</a></span>
            </div>
            {% endif %}

            {% if is_team %}
            <div class="btn_field">
                <span><a href="{% url 'app:personcenter2' %}">团队中心</a></span>
            </div>

            <div class="btn_field">
                <span><a href="{% url 'app:logout' %}">退出</a></span>
            </div>
            {% endif %}

            {% else %}
            <div class="btn_field">
                <span><a href="{% url 'app:login' %}">注册</a></span>
            </div>
            <div class="btn_field">
                <span><a href="{% url 'app:login' %}">登录</a></span>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="workplace">
        <h3 style="text-align: center; margin-top: 30px;">欢迎进入经济预测平台</h3>
        <div class="justify-content-between" id="title">
            <h4 class="col-2">历史预测记录</h4>
            <div class="col-4">
                <a class="col-2" href="{% url 'app:myWorkbench' 1 %}">
                    <button type="button" class="btn btn-primary">
                        返回工作台
                    </button>
                </a>
            </div>
        </div>

        <div class="list-group">
            <table class="table table-bordered">
                <tr>
                    <th>预测名</th>
                    <th>算法名</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ fname }}</td>
                    <td>{{ aname }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock %}