
.foot{
    position: relative;
    width: 100%;
    height: 300px;
    top:400px;
    background-color:gray;
}
.text_block{
    display: inline-block;
    position:relative;
    width:16%;
    height:50%;
    margin-top:2.5%;
    margin-left: 3%;


}
.text_block h4{
    font-size: 15px;
    font-family: "微软雅黑";
    color:gainsboro;
    font-weight: bold;
    margin-bottom: 7%;

}
.text_block p{
    font-size: 13px;
    font-family: "微软雅黑 Light";
    color:lightgrey;
}
.warranty{
    display: inline-block;
    position:relative;
    width:100%;
    height:15%;
    top:400px;
    background-color: black;

}
.warranty p{
    color:whitesmoke;
    text-align: center;
    line-height:40px;

}