.page-left-menu {
    border: 1px solid #e6e6e6;
    float: left;
    margin-right: 18px;
    border-radius: 10px 10px 0 0;
    width: 240px;
    overflow: hidden;
    margin-bottom: 40px;
}
.page-left-menu a {
    color: #333;
}

/*产品系列*/
.page-left-menu .page-left-title {
    border-bottom: 1px solid #e6e6e6;
    padding-left: 45px;
    background: #fff;
    color: #0093c4;
}
.page-left-menu .page-left-title .zh {
    font-size: 24px;
}
.page-left-menu .page-left-title .en {
    display: none;
    font-size: 14px;
    color: #0093c4;
}
.page-left-menu .page-left-menu-box {
    padding: 20px;
    border-top: none;
}
.page-left-menu .page-left-menu-box .menu1 .menu-item1 {
    border-bottom: 1px dashed #e6e6e6;
    line-height: 40px;
    font-size: 16px;
    text-indent: 20px;
    transition: all .3s ease-out;
}

.page-left-menu .page-left-menu-box .menu1 .menu-item1 > a {
    display: block;
    transition: all .3s ease-out;
}

/*数据软件   当前选中*/
.page-left-menu .page-left-menu-box .menu1 .menu-item1:hover > a, .page-left-menu .page-left-menu-box .menu1 .menu-item1.active > a {
    background-color: #0093c4;
    color: #fff;
}

img {
    border: 0px;
}

