{% extends 'base_index.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/crumbs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/page-left-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-container.css' %}">
        <style>
        .text_field {
            position: relative;
            display: inline-block;
        }
        .menu{
            display: none;
            position: absolute;
            background-color: #FFFAFA;
            min-width: 80px;

        }
        .text_field:hover .menu{
            display: block;
        }
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        /*nav*/
        .text_field a{
              color: gray;
          }
        .text_field a:hover{
            text-decoration: none;
        }
        .btn_field a{
            color: gray;
        }
        .btn_field a:hover{
            text-decoration: none;
        }
        .maxTitle {
            position: relative;
            line-height: 34px;
        }
        .maxTitle span {
            position: relative;
            z-index: 1;
            padding-right: 18px;
            background: #fff;
            color: #0093c4;
            font-size: 30px;
        }
        .maxTitle .sub {
            position: absolute;
            top: 18px;
            width: 100%;
            height: 1px;
            background: #d6d6d6;
        }
    </style>
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script src="{% static 'js/3.0_function/jquery.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="crumbs">
    <div class="container">
        <p class="title">企业简介</p>
        <div class="childs">
            <a href="{% url 'app:index' %}">首页</a>&nbsp;&gt;&nbsp;<a href="{% url 'app:aboutus' %}">关于我们</a>&nbsp;&gt;&nbsp;媒体引用            </div>
    </div>
</div>

<div class="main">
    <div class="page-left-menu" style="margin-top: 0px;">
        <div class="page-left-title">
            <h1>
                <span class="zh">关于我们</span>
                <small class="en"> / ABOUT</small>
            </h1>
        </div>
        <div class="page-left-menu-box">
            <div class="menu1">
                <div class="menu-item1" data-type="6">
                    <a href="{% url 'app:aboutus' %}">
                        企业简介  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt;      </a>
                </div>

                <div class="menu-item1" data-type="143">
                    <a href="{% url 'app:serviceobject' %}">
                        服务对象  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt;      </a>
                </div>

                <div class="menu-item1 active" data-type="144">
                    <a href="{% url 'app:companyculture' %}">
                        公司文化   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt;     </a>
                </div>

                <img class="wpica" style="width:180px;margin-left:10px;" alt="微信" src="{% static 'images/QRCode.png' %}">


            </div>

        </div>
    </div>

    <div class="container" style="overflow: hidden;">
    <div class="maxTitle">
        <span class="title">公司文化</span>
        <div class="sub"></div>
    </div>
    <div class="content-line"></div>
    <div class="content">
        <p style="text-indent:2em;">
            <br>
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <span style="color:#337FE5;line-height:2;font-size:18px;"><strong>客户至上、至诚守信</strong></span>
        </p>
        <p style="text-indent:2em;">
        </p><hr>
        <p>
            <br>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">为客户服务是公司存在的唯一理由，客户需求是公司发展的原动力。我们坚持以客户为中心，快速响应客户需求，持续为客户创造长期价值进而成就客户。为客户提供有效服务，是我们工作的方向和价值评价的标尺，成就客户就是成就我们自己。我们谨记着“敬人者，人恒敬之；爱人者，人恒爱之”的古训，尊重客户，坦诚公布，是我们必须遵守的原则。</span>
        </p>
        <p style="text-indent:2em;">
		<span style="line-height:2;font-size:16px;"><br>
                   </span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">我们只有内心坦荡诚恳，才能言出必行，信守承诺。诚信是我们最重要的无形资产，坚持以诚信赢得客户。</span>
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <span style="color:#000000;line-height:2;font-size:16px;"><a href="http://cs.infsum.com/service.php">→联系我们</a></span>
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <br>
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <br>
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <span style="color:#337FE5;line-height:2;font-size:18px;"><strong>艰苦奋斗、团队合作</strong></span>
        </p>
        <p style="text-indent:2em;">
        </p><hr>
        <p>
            <br>
        </p>
        <p style="text-indent:2em;">
            <span style="line-height:2;font-size:16px;"><span style="color:#666666;line-height:32px;font-size:16px;">我们唯有人力资源，唯有艰苦奋斗才能赢得客户的尊重与信赖。</span><span style="line-height:32px;font-size:16px;"><span style="color:#666666;">没有扎实的基础和过硬的本领，再近的目标都会遥不可及。除了内部人力，公司也积极争取与行内专家学者合作、交流，</span><span style="color:#666666;line-height:32px;font-size:16px;">为国家以及国际上的经济问题出谋划策，</span><span style="color:#666666;">做到“万众一心，众志成城”，这也是我们公司英文名“infinite-sum”的愿景。</span></span></span>
        </p>
        <p style="text-indent:2em;">
			<span style="line-height:2;font-size:16px;"><br>
                  </span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">团队是公司成活的根本，</span><span style="color:#666666;line-height:32px;font-size:16px;">坚持中国成功企业家任正非先生倡导的“以奋斗者为本”，使奋斗者得到相应的回报。“</span><span style="line-height:32px;font-size:16px;"><span style="color:#666666;">胜则举杯相庆，败则拼死相救”。</span><span style="color:#666666;line-height:32px;font-size:16px;">时刻不忘初衷，我们工作并不仅仅是为了生活，更是为了共同的理想，为梦想而团结奋斗，我们一定会很快乐。</span></span>
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <span style="color:#000000;line-height:2;font-size:16px;"></span>&nbsp;
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <span style="color:#337FE5;line-height:2;font-size:18px;"><strong>开放进取、高效执行</strong></span>
        </p>
        <p style="text-indent:2em;">
        </p><hr>
        <strong></strong><span></span>
        <p>
            <br>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">我们血液里流淌的企业家精神，使我们积极进取、勇于开拓，坚持开放与创新。任何先进的技术、产品、解决方案和业务管理，只有转化为商业成功才能产生价值。我们坚持客户需求导向，并围绕客户需求持续创新。</span>
        </p>
        <p style="text-indent:2em;">
				<span style="line-height:2;font-size:16px;"><br>
                   </span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">不在非战略要地浪费精力，一旦订立战略目标，我们不计较眼前利益高效执行。</span><span style="line-height:2;font-size:16px;"></span>
        </p>
        <p style="text-indent:2em;">
            <span style="line-height:2;font-size:16px;"> </span>
        </p>
        <p style="text-indent:2em;">
				<span style="line-height:2;"><span style="font-size:12px;"><br>
               </span></span>
        </p>
        <p style="text-indent:2em;">
				<span style="line-height:2;"><span style="font-size:12px;"><br>
               </span></span>
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>
        <p style="text-indent:2em;">
            <span style="line-height:2;font-size:16px;"></span>&nbsp;
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <span style="color:#337FE5;line-height:2;font-size:18px;"><strong><strong>社会责任、感恩传承</strong></strong></span>
        </p>
        <p style="text-indent:2em;">
        </p><hr>
        <br>
        <strong></strong>
        <p>
            <br>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">我们除了力求通过自己过硬的专业知识，给政府机构提出造福社会的政策建议。</span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">我们还身体力行的努力抓住身边每一个能“雪中送炭”的机会。</span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">并不是每一个小孩都可以顺利上学，</span>
        </p>
        <p style="text-indent:2em;">
					<span style="line-height:2;font-size:16px;"><span style="color:#666666;line-height:32px;font-size:16px;">并不是每一位学生都可以安心读书，</span><br>
                   </span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">并不是每一位老人都得到悉心照顾，</span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">并不是每一位患友都得到关心爱护。</span>
        </p>
        <p style="text-indent:2em;">
            <span style="color:#666666;line-height:2;font-size:16px;">在尊重他人的基础上，我们尽自己所能，帮助那些可能需要的人，我们想报答当初在困境时那些帮助过我们的人，我们想让这份爱心永远的传递下去。</span>
        </p>
        <p style="text-indent:2em;">
        </p><p>
        <span style="color:#666666;line-height:2;font-size:16px;background-color:#FFFFFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;心怀于社会，回报以爱心。我们参与深圳市石门坎教育公益基金会活动，支持川滇黔少年儿童教育事业，让川滇黔贫困山区的少年儿童获得更平等的教育机会，为此贡献我们一份力量，投予他们一缕温暖阳光。有了你们的支持和鼓励，我们将会继续在爱心公益道路上前进。</span>
    </p>
        <p>
            <br>
        </p>
        <p class="MsoNormal" style="text-indent:2em;">
            <span style="font-family:宋体;font-size:10.5pt;"><span style="font-family:宋体;"></span></span>&nbsp;
        </p>
        <p style="text-indent:2em;">
            <!--EndFragment-->
        </p>
        <p style="text-indent:2em;">
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>            </div>
</div>
</div>
{% endblock %}