.secondaryMenu ul a:hover{
     display: block;
}
.secondaryMenu ul ul{
    display: none;
}
.secondaryMenu ul ul li{
    float: none;
    list-style: none;
    margin-top: 2px;
}
.secondaryMenu ul :hover ul{
    display: block;
}

.autoRight{
    float:right!important;
    margin-right: 10px;
}

.listTop{
    margin-top: 2px;
}

.tableVetical{
    vertical-align: top;
}

.block{
    margin-top:50px;
}

.jumbotronMain{
	padding-top:30px;
	padding-bottom:30px;
    margin-bottom:0px;
	color:inherit;
    background-color:rgb(6, 6, 8);
    background-image:url(../../templates/管理端/images/body1_1.jpg);
    background-position: center right;
    background-size:auto 100%;
    background-repeat:no-repeat;
}

.mainText{
    display: inline-block;
    left:20%;
    position: relative;
}

.mainText_center{
    display: inline-block;
    margin: auto;
    position: relative;
    min-width: 800px;
}

.jumbotronIntroduce{
	padding-top:30px;
	padding-bottom:30px;
    margin-bottom:0px;
	color:inherit;
    background-image :-webkit-linear-gradient(top,rgb(6, 6, 8),rgb(28, 9, 63));
}

.introduceText{
    display: inline-block;
    left:10%; right:0; top:10%; bottom:10%;
    margin:auto;
    position:relative;
}

.jumbotronPrice{
	padding-top:30px;
	padding-bottom:30px;
    margin-bottom:0px;
	color:inherit;
    background-image :-webkit-linear-gradient(top,rgb(28, 9, 63),rgb(6, 6, 8));    
}

.thumbnailPrice{
	display:block;
	padding:4px;
	margin-bottom:20px;
	line-height:1.42857143;
    background-image :-webkit-linear-gradient(top,rgb(71, 68, 77),rgb(6, 6, 8)); 
	border:1px solid black;
	border-radius:4px;
	-webkit-transition:border .2s ease-in-out;
	-o-transition:border .2s ease-in-out;
	transition:border .2s ease-in-out

}

.jumbotronIntroduce p, 
.jumbotronPrice h3, .jumbotronPrice p,
.jumbotronMain h1, .jumbotronMain p{
    color: rgb(219, 223, 255);
}

.masterInput_form{
    width:1000px;
}
