{% extends 'base.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.0_function/3.0_function_ByZhangjiahui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.0_function/3.0_function_jquery.treeview.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.0_function/normalize.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.0_function/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.0_function/frappe_theme.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.0_function/index.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.0_function/default.css' %}" media="screen">
{% endblock %}


{% block ext_js %}
    {{ block.super }}
    <script src="{% static 'js/3.0_function/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script async defer src="{% static 'js/3.0_function/buttons.js' %}"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/3.0_function/jquery.treeview.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'js/3.0_function/jquery.cookie.js' %}"></script> -->
    <link rel="stylesheet" href="https://static.runoob.com/assets/js/jquery-treeview/jquery.treeview.css"/>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://static.runoob.com/assets/js/jquery-treeview/jquery.treeview.js"
            type="text/javascript"></script>
{% endblock %}


{% block header %}

{% endblock %}

